<h3>Editing {{user.name}}</h3>

<form id="userForm" name="userForm">
  <div class="control-group" ng-class="{error: userForm.name.$invalid}">
    <label>Name</label>
    <input type="text" name="name" ng-model="user.name" required>
    <span ng-show="userForm.name.$error.required" class="help-inline">
        Required</span>
  </div>

  <label>Projects</label>
  <table id="projectList" class="list draglist">
    <tr>
      <th>Assigned</th>
      <th>Available</th>
    </tr>
    <tr>
      <td ondragover="$userMgr.allowDrop(event)" ondrop="$userMgr.dropAndAssign(event)">
        <div>
          <ul id="assigned" class="ui-widget-content">
            <li ng-repeat="projectId in user.projects" id="project-{{projectId}}" data-projectid="{{projectId}}" draggable="true" ondragstart="$userMgr.drag(event)">
              <span>{{findProject(projectId).name}}</span>
            </li>
          </ul>
        </div>
      </td>
      <td ondragover="$userMgr.allowDrop(event)" ondrop="$userMgr.dropAndUnassign(event)">
        <div>
          <ul id="unassigned" class="ui-widget-content">
            <li ng-repeat="project in unassignedProjects" id="project-{{project.id}}"  data-projectid="{{project.id}}" draggable="true" ondragstart="$userMgr.drag(event)">
              <span>{{project.name}}</span>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </table>

  <br>
  <a href="#/users" class="btn">Cancel</a>
  <button ng-click="save()" ng-disabled="isClean() || userForm.$invalid"
          class="btn btn-primary">Save
  </button>
</form>
