body{
  background-color: #ffeddd;
}

a{
  color: #893d30;
}

a:hover, a:active, a:focus,
a:hover .glyphicon, a:active .glyphicon, a:focus .glyphicon{
  color: #d83b22;
  text-decoration: none;
}

.topbar {
  background: #000;
  color: #eee;
  text-align: right;
  line-height: 22px;
  padding-right: 15px;
  height: 22px;
  font-size: small;
  display: none;
}

.topbar a {
  color: #eee;
}

.topbar a:hover,
.topbar a:active,
.topbar a:focus {
  color: #FF9900;
}

.navbar{
  background-color: #4e4644;
  margin-bottom: 0;
  min-height: 52px;
  /*position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
}

.navbar .navbar-header .title{
  color: #ae9d95;
  font-size: 20px;
  margin: 10px 20px 0 10px;
  float: left;
}

.navbar .navbar-header .calendar_nav{
    float:left;
    margin: 10px 10px 0 50px;
}

.navbar-default .navbar-toggle{
  border: none;
  margin-right: 10px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: #893d30;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #ae9d95;
}

.navbar-default .navbar-nav li a{
  color: #ffe5ba;
}

.navbar-default .navbar-nav li a:hover{
  color: #d83b22;
}

.navbar-default .glyphicon{
  color: #893d30;
}

.navbar-collapse{
  background-color: #4e4644;
}

.navbar .btn-default{
  background-color: #ae9d95;
  border-color: #4e4644;
  color: #893d30;
}

.navbar .actions{
  margin: 10px 10px 0 0;
}

.month.calendar .days {
  height: 23px;
}

.navbar .btn-default:hover,
.navbar .btn-default:focus,
.navbar .btn-default:active,
.navbar .btn-default.active,
.navbar .btn-default:hover .glyphicon,
.navbar .btn-default:focus .glyphicon,
.navbar .btn-default:active .glyphicon,
.navbar .btn-default.active .glyphicon{
  border-color: #4e4644;
  background-color: #ffe5ba;
  color: #d83b22 ;
}

.navbar .btn-default.active{
    color: #893d30
}

.calendar {
  overflow: auto;
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
}

.calendar_nav .text{
  padding-left: 10px;
  color: #ae9d95;
}

.calendar .col-md-1 {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.calendar .event{
  padding-top: 3px;
  padding-bottom: 3px;
}

.calendar .col-md-1{
  background-color: #f5f5f5
}

.calendar .day_cell.not_current, .calendar .day_cell.not_current .day_details{
  background-color: #e1e1e1;
}

.calendar .day_cell.current, .calendar .day_cell.current .day_details{
  background-color: #f1dbd9;
}

.calendar .current, .calendar .current .day_details{
  background-color: #f1dbd9;
}

.calendar .day_details {
  padding: 3px 7px 3px 7px;
  background-color: #f5f5f5;
}

.calendar .day_actions .text{
  padding-right: 15px;
  font-size: small;
}

.event .description, .event .duration{
  font-size: smaller;
  padding-left: 10px;
}

.calendar .rollup{
  position: relative;
  background-color: #ae9d95;
  color: #ffffff;
  padding: 5px;
  white-space: nowrap;;
}

.calendar .rollup .date{
  width: 75px;
}

.calendar .rollup .date.current{
  color: #ffdbd9;
}

.calendar .rollup .date, .calendar .rollup .day, .calendar .event .summary{
  padding-top: 4px;
  margin-left: 2px;
}

.calendar .rollup .day{
  margin-right: 10px;
  padding-top: 2px;
}

.calendar .event .summary{
  font-size: small;
}

.calendar .icon {
  width: 25px;
  margin: 3px;
  text-align: center;
  border: solid 1px grey;
  color: black;
  cursor: pointer;
}

.calendar .event .icon{
  width: 16px;
  font-size: small;
  line-height: normal;
  padding-right: 1px;
}

.calendar .icon.unavailable {
  background-color: #f08080;
}

.calendar .event .icon.unavailable {
  background-color: #f08080;
}

.calendar .icon.working {
  background-color: white;
}

.calendar .icon.public_holiday {
  background-color: black;
  color: white;
}

.calendar .icon.nonworking {
  background-color: grey;
  color: white;
}

.calendar .icon.working {
  background-color: beige;
}

.calendar .icon.leave {
  background-color: skyblue;
}

.calendar .toggle{
  padding-top: 5px;
  padding-right: 5px;
}

.calendar .toggle .glyphicon{
  color: #ffffff;
}

.calendar .confirmation{
  padding-top: 5px;
  margin-right: 20px;
  width: 100px;
  font-size: small;
}

.glyphicon.confirmed{
  color: #aace4f;
}

.glyphicon.unconfirmed{
  color: #ffa001;
}

.calendar .day_actions {
  text-align: center;
}

.calendar .day_actions .action{
  float: right;
}

.calendar .events{
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.calendar .show_all {
  font-size: smaller;
}

.calendar .rollup {
  padding: 0;
  height: 28px
}

.month.calendar .rollup, .aggregate.calendar .rollup{
  padding: 0;
  height: 28px
}

.calendar .day_of_month{
  color: #4e4644;
  margin-right: 10px;
  padding-top: 4px;
  font-weight: bold;
}

.calendar .day_of_month.not_current{
  color: #ae9d95
}

.expander{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

.aggregate.calendar .col-md-1 .resource_name {
  padding: 5px;
}

.calendar .events_title{
  color: black;
  font-size: smaller;
  position: absolute;
  left: 32px;
  top: 7px;
  right: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-collapse ul.navbar-nav{
    float: right;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .calendar .collapse {
    display: block;
  }

  .calendar .col-md-1.start{
    border-left: 1px solid lightgray;
  }

  .calendar .day_actions .text{
    display: none;
  }

  .calendar .day_actions .left{
    float: left;
  }

  .topbar{
    display: block;
  }

  .navbar{
    /*top: 22px;*/
  }

  .calendar{
    top: 74px
  }

  .calendar .col-md-1 {
    width: 14.2857142%;
    height: 100%;
  }

  .aggregate.calendar .col-md-1 {
    width: 12.5%;
  }

  .aggregate.calendar .day_cell {
    cursor: pointer;
  }

  .ten.calendar .col-md-1{
    width: 10%
  }

  .month .week .rollup, .aggregate .week .rollup{
    background-color: inherit;
  }

  .month .week {
    height: 20%;
  }

  .aggregate .week {
    height:30px;
  }

  .calendar .weeks {
    position: absolute;
    top: 23px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .calendar .day_details {
    position: absolute;
    top: 28px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .month.calendar .day_details {
    top: 28px;
  }

  .aggregate.calendar .day_details{
    display: none;
  }

  .calendar .events {
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
  }

  .calendar .day_actions {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 20px;
    margin: 0 10px;
  }

  .aggregate.calendar .confirmation{
    margin-right: 5px;
    margin-top: 2px;
    width: auto;
  }

  .aggregate.calendar .events {
    bottom: 0;
  }

  .popover .event{
    width:200px;
  }

  .popover_close{
    color: gray;
    cursor: pointer;
  }

  .popover.fade{
    z-index: 0;
  }

  .popover.fade.in{
    z-index: 1010;
  }
  
  .popover .events, .popover .day_actions{
    position: static;
    width: 200px;
  }

  .aggregate .day_actions{
    display: none;
  }

  .aggregate .popover .day_actions{
    display: block;
  }

  .aggregate.calendar{
    overflow: visible;
  }

  .aggregate .weeks{
    overflow: auto;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}