<h1>Admin</h1>
<h2>Projects
  <input type="text" ng-model="search" class="search-query" placeholder="Search">
</h2>
<table class="list">
  <thead>
  <tr>
    <th>Project</th>
    <th>Description</th>
    <th><a href="#/project/new"><i class="icon-plus-sign"></i></a></th>
  </tr>
  </thead>
  <tbody>

  <tr ng-repeat="project in projects | filter:search | orderBy:'name'">
    <td>{{project.name}}</td>
    <td>{{project.desc}}</td>
    <td>
      <a href="#/project/edit/{{project.$id}}"><i class="icon-pencil"></i></a>
    </td>
  </tr>

  </tbody>
</table>
</div>
