<div class="aggregate calendar">
<div class="row days visible-md visible-lg">
    <div class="col-md-1 start resource_name">
        <div class="rollup">
            <div class="pull-right day">Resource</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="rollup">
            <div class="pull-right day">Sun 27 Oct</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="rollup">
            <div class="pull-right day">Mon 28 Oct</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="rollup">
            <div class="pull-right day">Tue 29 Oct</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="rollup">
            <div class="pull-right day">Wed 30 Oct</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="rollup">
            <div class="pull-right day">Thu 31 Oct</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="rollup">
            <div class="pull-right day">Fri 1 Nov</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-1">
        <div class="rollup">
            <div class="pull-right day">Sat 2 Nov</div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="weeks">
<div class="row week">
<div class="col-md-1 start">
    <div class="resource_name">
        James Walker
    </div>
</div>
<div id="day_cell_1027_1" class="col-md-1 day_cell not_current">
    <div class="rollup">
        <div class="pull-left icon nonworking">N</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1027_1"></div>
            <div class="pull-left date">Sun 27 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1027_1" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1028_1" class="col-md-1 day_cell current">
    <div class="rollup">
        <div class="pull-left icon working">W</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1028_1"></div>
            <div class="pull-left date">Mon 28 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1028_1" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1029_1" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon working">W</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1029_1"></div>
            <div class="pull-left date">Tue 29 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1029_1" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1030_1" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon working">W</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1030_1"></div>
            <div class="pull-left date">Wed 30 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1030_1" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1031_1" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon working">W</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1031_1"></div>
            <div class="pull-left date">Thu 31 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1031_1" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1101_1" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon public_holiday">H</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1101_1"></div>
            <div class="pull-left date">Fri 1 Nov</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="events_title">
                Public Holiday
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1101_1" class="collapse day_details">
        <div class="events">
            <div class="event">
                <div class="pull-left icon public_holiday">H</div>
                <div class="pull-left summary">Public Holiday</div>
                <div class="clearfix"></div>
                <div class="description">Pre Melbourne Cup</div>
                <div class="duration">All day</div>
            </div>
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1102_1" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon nonworking">N</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1102_1"></div>
            <div class="pull-left date">Sat 2 Nov</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1102_1" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
<div class="row week">
<div class="col-md-1 day_cell start">
    <div class="resource_name">
        Peter Reid
    </div>
</div>
<div id="day_cell_1027_2" class="col-md-1 day_cell not_current">
    <div class="rollup">
        <div class="pull-left icon nonworking">N</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1027_2"></div>
            <div class="pull-left date">Sun 27 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1027_2" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1028_2" class="col-md-1 day_cell current">
    <div class="rollup">
        <div class="pull-left icon unavailable">P</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1028_2"></div>
            <div class="pull-left date">Mon 28 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="events_title">
                Personal Event
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1028_2" class="collapse day_details">
        <div class="events">
            <div class="event">
                <div class="pull-left icon unavailable">P</div>
                <div class="pull-left summary">Personal Event</div>
                <div class="clearfix"></div>
                <div class="description">Dentist Appt</div>
                <div class="duration">10:00 - 10:30 am</div>
            </div>
            <div class="clearfix"></div>
            <div class="event">
                <div class="pull-left icon unavailable">P</div>
                <div class="pull-left summary">Personal Event</div>
                <div class="clearfix"></div>
                <div class="description">Training</div>
                <div class="duration">03:00 - 4:30 pm</div>
            </div>
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1029_2" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon working">W</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1029_2"></div>
            <div class="pull-left date">Tue 29 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1029_2" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1030_2" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon working">W</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1030_2"></div>
            <div class="pull-left date">Wed 30 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1030_2" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1031_2" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon working">W</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1031_2"></div>
            <div class="pull-left date">Thu 31 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1031_2" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1101_2" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon public_holiday">H</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1101_2"></div>
            <div class="pull-left date">Fri 1 Nov</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="events_title">
                Public Holiday
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1101_2" class="collapse day_details">
        <div class="events">
            <div class="event">
                <div class="pull-left icon public_holiday">H</div>
                <div class="pull-left summary">Public Holiday</div>
                <div class="clearfix"></div>
                <div class="description">Pre Melbourne Cup</div>
                <div class="duration">All day</div>
            </div>
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1102_2" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon nonworking">N</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1102_2"></div>
            <div class="pull-left date">Sat 2 Nov</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1102_2" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
<div class="row week">
<div class="col-md-1 start">
    <div class="resource_name">
        John Layton
    </div>
</div>
<div id="day_cell_1027_3" class="col-md-1 day_cell not_current">
    <div class="rollup">
        <div class="pull-left icon nonworking">N</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1027_3"></div>
            <div class="pull-left date">Sun 27 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1027_3" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1028_3" class="col-md-1 day_cell current">
    <div class="rollup">
        <div class="pull-left icon working">W</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1028_3"></div>
            <div class="pull-left date">Mon 28 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1028_3" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1029_3" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon leave">L</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1029_3"></div>
            <div class="pull-left date">Tue 29 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="events_title">
                Annual Leave
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1029_3" class="collapse day_details">
        <div class="events">
            <div class="event">
                <div class="pull-left icon leave">L</div>
                <div class="pull-left summary">
                    <a href="#">Leave</a>
                </div>
                <div class="clearfix"></div>
                <div class="description">Annual leave</div>
                <div class="duration">All day</div>
            </div>
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1030_3" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon leave">L</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1030_3"></div>
            <div class="pull-left date">Wed 30 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="events_title">
                Annual Leave
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1030_3" class="collapse day_details">
        <div class="events">
            <div class="event">
                <div class="pull-left icon leave">L</div>
                <div class="pull-left summary">
                    <a href="#">Leave</a>
                </div>
                <div class="clearfix"></div>
                <div class="description">Annual leave</div>
                <div class="duration">All day</div>
            </div>
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1031_3" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon leave">L</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1031_3"></div>
            <div class="pull-left date">Thu 31 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="events_title">
                Annual Leave
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1031_3" class="collapse day_details">
        <div class="events">
            <div class="event">
                <div class="pull-left icon leave">L</div>
                <div class="pull-left summary">
                    <a href="#">Leave</a>
                </div>
                <div class="clearfix"></div>
                <div class="description">Annual leave</div>
                <div class="duration">All day</div>
            </div>
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1101_3" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon public_holiday">H</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1101_3"></div>
            <div class="pull-left date">Fri 1 Nov</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="events_title">
                Public Holiday
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1101_3" class="collapse day_details">
        <div class="events">
            <div class="event">
                <div class="pull-left icon public_holiday">H</div>
                <div class="pull-left summary">Public Holiday</div>
                <div class="clearfix"></div>
                <div class="description">Pre Melbourne Cup</div>
                <div class="duration">All day</div>
            </div>
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1102_3" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon nonworking">N</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1102_3"></div>
            <div class="pull-left date">Sat 2 Nov</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1102_3" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
<div class="row week">
<div class="col-md-1 start">
    <div class="resource_name">
        Karen Davis
    </div>
</div>
<div id="day_cell_1027_4" class="col-md-1 day_cell not_current">
    <div class="rollup">
        <div class="pull-left icon nonworking">N</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1027_4"></div>
            <div class="pull-left date">Sun 27 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1027_4" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1028_4" class="col-md-1 day_cell current">
    <div class="rollup">
        <div class="pull-left icon working">W</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1028_4"></div>
            <div class="pull-left date">Mon 28 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1028_4" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1029_4" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon working">W</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1029_4"></div>
            <div class="pull-left date">Tue 29 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1029_4" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1030_4" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon working">W</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1030_4"></div>
            <div class="pull-left date">Wed 30 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1030_4" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1031_4" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon working">W</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1031_4"></div>
            <div class="pull-left date">Thu 31 Oct</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign" title="Confirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1031_4" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Confirmed"><span class="confirmed glyphicon glyphicon-ok-sign"></span><span class="text"> confirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1101_4" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon public_holiday">H</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1101_4"></div>
            <div class="pull-left date">Fri 1 Nov</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="events_title">
                Public Holiday
            </div>
            <div class="pull-right confirmation">
                <span class="unconfirmed glyphicon glyphicon-question-sign" title="unconfirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1101_4" class="collapse day_details">
        <div class="events">
            <div class="event">
                <div class="pull-left icon public_holiday">H</div>
                <div class="pull-left summary">Public Holiday</div>
                <div class="clearfix"></div>
                <div class="description">Pre Melbourne Cup</div>
                <div class="duration">All day</div>
            </div>
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Click to confirm"><span class="unconfirmed glyphicon glyphicon-question-sign"></span> unconfirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="day_cell_1102_4" class="col-md-1 day_cell">
    <div class="rollup">
        <div class="pull-left icon nonworking">N</div>
        <div class="visible-xs visible-sm">
            <div class="expander" data-toggle="collapse" data-target="#day_details1102_4"></div>
            <div class="pull-left date">Sat 2 Nov</div>
            <div class="toggle pull-right">
                0 <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="pull-right confirmation">
                <span class="confirmed glyphicon glyphicon-ok-sign"></span> confirmed
            </div>
        </div>
        <div class="visible-md visible-lg">
            <div class="pull-right confirmation">
                <span class="unconfirmed glyphicon glyphicon-question-sign" title="unconfirmed"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="day_details1102_4" class="collapse day_details">
        <div class="events">
        </div>
        <div class="day_actions">
            <div class="action">
                <a href="#" title="Click to confirm"><span class="unconfirmed glyphicon glyphicon-question-sign"></span> unconfirmed</span></a>
            </div>
            <div class="action left">
                <a href="#" title="New Event"><span class="glyphicon glyphicon-plus"></span><span class="text"> new event</span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>
</div>
</div>
