<div class="timesheet">
  <div class="row days visible-md visible-lg">
    <div class="col-md-1 start resource_name cell day">
      <div class="pull-right date">Project</div>
      <div class="clearfix"></div>
    </div>
    <div ng-repeat="day in days" class="col-md-1 cell day {{day.today == true ? 'current' : 'not_current'}}">
      <div class="pull-right date">{{day.name}}</div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="projects">
    <div ng-repeat="projectid in user.projects" class="row">
      <div class="col-md-1 project cell start">
        <div class="project_name">
          {{findProject(projectid).name}}
        </div>
      </div>
      <div ng-repeat="day in days" id="{{projectid}}_work_cell_{{day}}" class="col-md-1 work cell {{day.today == true ? 'current' : 'not_current'}}"
          ng-init="work=findOrCreateWorkForProject(work, day, projectid)">
        <div id="{{projectid}}_work_details_{{day}}_1" class="work_details">
          <input type="text" size="10" ng-model="work.hours" ng-change="saveWork(work)" ng-pattern="/^\d+$/"/>
        </div>
        <div id="{{projectid}}_day_details_{{day}}_1" class="day_details">
          <div class="day_actions">
            <i class="glyphicon glyphicon-comment {{work | wc_active}}" ng-click="open_comment(work)"></i>
            <i class="glyphicon glyphicon-remove-circle disabled"></i>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
